<!DOCTYPE html>
<html lang="en">
<head>
    <link href="../public/css/style.css" rel="stylesheets">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Pokemons</title>
</head>
<body>
    <p>This is <%= data.name %> </p> 
    <a href='/pokemons/<%=id %>/edit'>Edit</a><br>
    <img src="<%= data.img %>" width="300" height="300">


</body>
</html>